.ui-calendar input {
    border-radius: 0px 4px 4px 0px;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
}
.ui-widget {
    font-size: 14px;
}
.ui-selectonemenu-trigger {
    margin-right: 4px;
    outline: 0;
}
.ui-selectonemenu {
    outline: 0;
}
